*,header,
body,
footer{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    box-sizing: border-box;
    text-decoration: none;
    
}

header {
    background-color: #f3f593;
}
.caja{
    width: 100%;
    height: 5%;
}
nav {
    display: inline;
    margin: 10px 10px 0 5px;
}

nav li{
    display: inline;
    margin: 0px 0px 0px 15px;
    align-items: right;
}
.encabezado a:hover{
    color: #c78c19;
    text-decoration: underline;
}
.menu {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    text-align: right;
    
}

.logo img{
    width: 195px;
}
.derecha{
    text-align: right;
}
.izquierda{
    text-align: left;
}
.centro{
    text-align: center;
}
.menu h1{
    margin-top: 1.5%;
    text-align: left;
}
.login{
    text-align: right;
}
.menu a:hover{
    color: #c78c19;
    text-decoration: underline;
    font-weight: bold;
    font-size: 18px;
}
.nav > li {
  float:left;
  text-align: right;
}

.nav li a {
  color:#897e40;
  text-decoration:none;
  padding:10px 12px;
  display:block;
  font-weight: bold;
  font-size: 18px;
}

.nav li a:hover {
  background-color:#434343;
}

.nav li ul {
  display:none;
  position:absolute;
  min-width:140px;
}

.nav li:hover > ul {
  display:block;
}

.nav li ul li {
  position:relative;
}

.nav li ul li ul {
  right:-140px;
  top:0px;
}

.clase-principal{
  width: 100%;
  height: 100%;
}

div#slider { overflow: hidden; } /* las im치genes no van a salir del m치rgen de la pantalla*/
div#slider figure img { width: 20%; float: left; }

div#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite; /*el movimiento se va a mantener de forma indefinida -infinito-*/
}


/*esta parte del c칩digo define el movimiento de las im치genes a la izquierda*/
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

.productos{
    width: 90%;
    margin: 0 auto;
    padding: 50px;
}

.imagen{
    width: 200px;
    height: 280px;
}

.productos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

.productos li:hover{
    border-color:#c78c19;
}

.productos li:active{
    border-color:#088c19;
}

.productos h2{
    font-size: 30px;
    font-weight: bold;
}

.productos li:hover h2{
    font-size: 33px;
}

.producto-descripcion{
    font-size: 18px;
}

.producto-precio{
    font-size: 20px;
    font-weight: bold;
    margin-top:10px;
}

footer{
    text-align: center;
    background: url(imagenes/bg.jpg);
    padding:20px;
}
.logo-footer{
    width: 80px;
    margin-top: 5%;
}

.redes-sociales img{
    width: 50px;
}
.copyright{
    color:#ea1717;
    font-size: 13px;
    margin:20px;
}


/*FORMULARIO CONTACTO*/

form{
    margin: 40px 10px;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
    margin:20px 0;
    align-items: left;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color:white;
    background: orange;
    border:none;
    border-radius: 5px;
    transition: 1s all;
    cursor:pointer;
}

.enviar:hover{
    background: rgb(255, 0, 0);
    transform: scale(1.2);
}

table{
    margin: 40px 40px;
}

thead{
    background: #555555;
    color:white;
    font-weight: bold;
}

td,th{
    border: 1px solid #000000;
    padding: 8px 15px;
}
  /*Registro*/
  .container{
    height: 100%;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  li{
    text-align: left;
  }

  .container h1{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 32px;
  }
  .form-background{
    background: #fff;
    width: 420px;
    border-radius: 10px;
    padding: 32px;
    align-self: center;
  -webkit-box-shadow: 0px 15px 88px -37px rgba(0,0,0,0.17);
  -moz-box-shadow: 0px 15px 88px -37px rgba(0,0,0,0.17);
  box-shadow: 0px 15px 88px -37px rgba(0,0,0,0.17);
  } 
  
  .registro {
    text-transform: capitalize;
    text-align: center;
  }
  
  input{
    width: 100%;
    margin-bottom: 15px;
    border-radius: 30px;
    border: 1px solid #555555;
    padding: 15px 20px;
    color:#8498AF;
    font-size: .9rem;
    transition: .4s;
    
      &:last-child{
      margin-bottom: 0;
    }
    &:focus{
      border-color:#000000;
      outline: none;
    }
  }
  
  .ingresar{
    background: #ea1717;
    border-radius: 30px;
    padding: 16px 30px;
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    font-size: .8rem;
    transition: .4s;
    border: none;
    box-shadow: none;
    margin: 0;
    
      &:hover{
      cursor: pointer;
    }
  }
  
  .sign-up-divider{
   
    text-align: center;
    color: #C4C8D4;
    font-size: .8rem;
    letter-spacing: .5px;
    padding: 24px 0;
    
    &::before{
    content: '';
    display: inline-block;
    width: 27%;
    margin-right: 5%;
    height: 1px;
    background: #555555;
    vertical-align: middle;
  }
  
    &::after{
      content: '';
      display: inline-block;
      width: 27%;
      margin-left: 5%;
      height: 1px;
      background: #555555;
      vertical-align: middle;
    }
  
  }
  
  .login{
    text-align: center;
    margin-top: 24px;
    font-size: .8rem;
       
     & a{
      margin-left: 4px;
      text-decoration: none;
      color: #000000;
      transition: .3s;
    }
    & a:hover{
      color: #000000;
    }
  }
/*FORMULARIO REGISTRO*/
.form-register {
    width: 400px;
    background: #f63d2c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    font-family: "Montserrat", sans-serif;
  }
  
  .form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
  }
  .controls {
    width: 100%;
    background: #f6e9c5;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #2b2b2c;
    font-family: 'calibri';
    font-size: 18px;
    color: rgb(21, 21, 21);
    font-family: "Montserrat", sans-serif;
  }
  
  .form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  .form-register a {
    color: white;
    text-decoration: none;
  }
  
  .form-register a:hover {
    color: white;
    text-decoration: underline;
  }
  
  .form-register .botons {
    width: 100%;
    background: #eac017;
    border: none;
    padding: 12px;
    color: rgb(22, 22, 22);
    margin: 16px 0;
    font-size: 16px;
    text-transform: uppercase;
    box-shadow: none;
    margin: 0;
  }
  
.botons:hover{
    cursor: pointer;
    background: rgb(171, 94, 248);
   
}
  
/* For mobile phones: */
[class*="col-"] { /*a todas las clases que comiencen con col- ponele 100%*/
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) { /* entonces >= 600px  */
    /* For tablets: */
    .col-s-1 {width: 8.33%;}  /* 100/12  */
    .col-s-2 {width: 16.66%;}   /* 100/12*2  */
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}  /*  100/12*12  */   
  }
  @media only screen and (min-width: 768px) {  /* entonces >=   */
    /* For desktop: */
    .col-1 {width: 8.33%;}  /*  100/12  */
    .col-2 {width: 16.66%;} /* 100/2*2  */
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  [class*="col-"] { /*a todas las clases que comiencen con "col- dale este estilo*/
    float: left;
    padding: 15px;
  }
  